<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%highlight{APP}|%highlight{T:} %d{HH:mm:ss.SSS}|%highlight{URI:} %-40.-40X{URI}|%highlight{TX:} %-25.25X{TransactionNo}|%highlight{User:} %-14.-14X{UserName}|%highlight{L:} %level{length=1}|%highlight{@C:} %-30.-30logger{1}|%highlight{@M:} %30.-30M|%highlight{MSG:} %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<appender-ref ref="Console" />
		</Root>
	</Loggers>
</Configuration>